h1 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  margin-top: 1em;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  margin-bottom: 2em;
  text-align: center;
  color: gray;
  font-size: 20px;
  display: block;
}

p {
  margin-top: 2em;
  text-align: center;
  font-size: 18px;
}

#logo {
  margin: 3em auto 1em auto;
  display: block;
}

#copyright-notice {
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
